{% extends 'base.html' %}
{% block user %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h1>ShopNow hân hạnh phục vụ quý khách ! {{ username }}</h1>
                <p>Email: long78892@st.vimaru.edu.vn</p>
                <p>Sdt: 0963241582 </p>
                <p>Địa chỉ: tòa A4 - Trường DHHH Việt Nam </p>
                <p>
                    <a href="/" type="button" class="btn btn-primary">Trở về trang chủ</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}